{% extends "themes/dashboard/base_dashboard.html" %}
{% load i18n %}
{% block content %}
    {% block page-content-siderbar %}
        {{ block.super }}
    {% endblock page-content-siderbar %}

    {% block page-content-wrapper %}
        <div class="content-wrapper">
            {% block sidebar_page_header %}
                {{ block.super }}
            {% endblock sidebar_page_header %}

            {% block sidebar_page_content %}
                <div class="content">
                    <div class="container-detached">
                        <div class="content-detached">
                            <div class="panel panel-flat">
                                <div class="panel-body text-center">
                                    <p>Are you sure you want to delete?</p>
                                    <form method="post" action="" class="form">
                                        {% csrf_token %}
                                        <input type="submit" value="Yes" class="btn btn-primary"/>
                                        <a href="{% url 'restaurant_app:restaurant:list' %}" class="btn btn-danger">No</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            {% endblock sidebar_page_content %}
        </div>
    {% endblock page-content-wrapper %}
{% endblock %}


