{% extends "themes/dashboard/base_dashboard.html" %}
{% load i18n %}
{% load filter %}
{% block content %}
    {% block page-content-siderbar %}
        {{ block.super }}
    {% endblock page-content-siderbar %}

    {% block page-content-wrapper %}
        <div class="content-wrapper">
            {% block sidebar_page_header %}
                {{ block.super }}
            {% endblock sidebar_page_header %}

            {% block sidebar_page_content %}
                <div class="content">
                    <div class="container-detached">
                        <div class="content-detached">
                            <div class="panel panel-flat">
                                <div class="panel-body">
                                    <form method="post" action="" class="form">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label class="text-semibold">{{ form.restaurant.label }}</label>
                                            {{ form.restaurant|add_class_form_control }}
                                            <span class="help-block">{{ form.restaurant.errors }}</span>
                                        </div>
                                        <div class="form-group">
                                            <label class="text-semibold">{{ form.position.label }}</label>
                                            {{ form.position|add_class_form_control }}
                                            <span class="help-block">{{ form.position.errors }}</span>
                                        </div>
                                        <div class="form-group">
                                            <label class="text-semibold">{{ form.count_table.label }}</label>
                                            {{ form.count_table|add_class_form_control }}
                                            <span class="help-block">{{ form.count_table.errors }}</span>
                                        </div>
                                        <div class="form-group">
                                            <label class="text-semibold">{{ form.is_occupied.label }}</label>
                                            {{ form.is_occupied|add_class_form_control }}
                                            <span class="help-block">{{ form.is_occupied.errors }}</span>
                                        </div>

                                        <div class="text-right">
                                            <a class="btn btn-info" href="{% url 'restaurant_app:mesa:list' %}"> <i
                                                    class="fa fa-arrow-left"></i> {% trans "Back" %}</a>
                                            <button type="submit" class="btn btn-info"> {% trans "Submit" %} <i
                                                    class="fa fa-arrow-right"> </i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock sidebar_page_content %}
        </div>
    {% endblock page-content-wrapper %}
{% endblock %}
